<div class="tag-cloud">
    <ul>
        <%- tagcloud({
            min_font: 16,
            max_font: 30,
            amount: 999,
            color: false,
            start_color: 'gray',
            end_color: 'black',
        }) %>
    </ul>
</div>
